<!DOCTYPE html>
<html>

<head>
    <title>VueJS to-do list</title>
</head>

<body style="text-align: center;">

    <div id="app">

        <h2>{{title}}</h2>

        <li type="none" v-for="(item, index) in list" v-if="!item.done">
            <label>
                <input type="checkbox" v-model="item.done">
                    {{ item.text }}
                </input>
            </label>
            <a v-on:click="remove(index)"><img style="height: 15px; cursor: pointer;" src="img/trash.png" title="Remove" /></a>
        </li>

        <li type="none" v-for="(item, index) in list" v-if="item.done">
            <label>
                <input type="checkbox" v-model="item.done">
                    <s>{{ item.text }}</s>
                </input>
            </label>
            <a v-on:click="remove(index)"><img style="height: 15px; cursor: pointer;" src="img/trash.png" title="Remove" /></a>
        </li>

        <br>
        <span>{{message}}</span>
        <br>

        <form v-on:submit="add">
            <input type="text" v-model="model.text" autofocus required />
            <br>
            <span>Press enter to submit</span>
        </form>

    </div>

    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>

</html>